:root {
  --primary-font: 'New Tegomin', serif;
  --secondary-font: 'Montserrat', sans-serif;
  --primary-color: aliceblue; 
}

body {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
h1 {
  font-size: 100px;
  font-weight: bolder;
}

p, h3 {
  font-size: 40px;
  margin-top: 50px;
 
}

h3 {
  margin-bottom: 60px;
}

.person {
  padding: 160px;
}

#contact-button {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 25px;
  font-weight: bold;
}
