:root {
  --primary-font: 'New Tegomin', serif;
  --secondary-font: 'Montserrat', sans-serif;
  --primary-color: aliceblue; 
  --secondary-color: #0dcaf0;
}

body {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
h1 {
  font-size: 95px;
  font-weight: bolder;
}

.person h3 {
  font-size: 50px;
  margin-top: 50px;
 
}

.person p {
  font-size: 35px;
}
h2 {
  font-size: 60px;
}
h3 {
  margin-bottom: 60px;
}

p {
  font-size: 25px;
}
.person {
  padding: 160px;
}

.active {
  color: var(--secondary-color) !important; 
}

.my-image {
  margin-top: 60px;
}
footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 24px;
}

footer .social-links {
  font-size: 24px;
}

footer .social-links a {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
}

#contact-button {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 25px;
  font-weight: bold;
}

/* media queries */
@media (max-width: 900px) {
  body {
    text-align: center;
    padding: 10px;
  }
  p{
    font-size: 18px;
    line-height: 1.5;
  }
  h1 {
    font-size: 50px;
  }

  .my-image {
    max-width: 80%;
    margin-top: 20px;
  }
}